{% form_theme form 'form/form_errors.html.twig' %}
{% extends 'mainPage.html.twig' %}

{% block main %}
    
    <div class="col-md-8 col-md-offset-2">
        <h2>Kursverlauf einfügen</h2>        
        
        {{ form_start(form) }}
		{{ form_errors(form) }}
			
			<div class="form-group row">
				{{ form_errors(form.patient) }}
				{{ form_label(form.patient) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.patient) }}
				</div>
			</div>

			<div class="form-group row">
				{{ form_errors(form.arrangement) }}
				{{ form_label(form.arrangement) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.arrangement) }}
				</div>
			</div>			

			<div class="form-group row">
				{{ form_errors(form.attended) }}
				{{ form_label(form.attended) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.attended) }}
				</div>
			</div>    

			<div class="form-group row">
				{{ form_errors(form.comments) }}
				{{ form_label(form.comments) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.comments) }}
				</div>
			</div>    
			
		{{ form_end(form) }}
	</div>

{% endblock %}
