{% form_theme form 'form/form_errors.html.twig' %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>{% block title %}AOK | Login{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">
            <link href="/css/custom.css" rel="stylesheet">
        {% endblock %}    
       
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">{{flash_message}}</div>
                    {% endfor %}

                    {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">{{flash_message}}</div>
                    {% endfor %}

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                	<div id="login_form">
					    <div class="container">             
					        <div class="row">
					            <div class="col-md-4 col-md-offset-4">
					                <div class="panel panel-primary">
					                    <div class="panel-heading">
					                        <strong>Bitte melden Sie sich auf dem Server</strong>
					                    </div> <!-- END PANEL HEADING-->

					                    <div class="panel-body">     
                                            {{ form_start(form) }}
                                            {{ form_errors(form) }}

                                            <div class="form-group row">
                                            {{ form_errors(form.username) }}
                                                {{ form_label(form.username) }}
                                                
                                                <div class="col-sm-8">
                                                    {{ form_widget(form.username) }}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                            {{ form_errors(form.password) }}
                                                {{ form_label(form.password) }}
                                                
                                                <div class="col-sm-8">
                                                    {{ form_widget(form.password) }}
                                                </div>
                                            </div>
											
                                            <a href="/password-issue" class="pull-right">Ich habe mein Kennwort vergessen</a>
                                            {{ form_end(form) }}
										</div> <!-- END PANEL BODY-->
					                </div> <!-- END PANEL -->
				    	        </div> <!-- END COLUMN -->
				        	</div> <!-- END ROW -->
				    	</div> <!-- END CONTAINER -->
					</div> <!-- END FORM -->
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="/js/jquery-2.2.0.js"></script>
            <script src="/js/jquery.dataTables.min.js"></script>
            <script src="/js/dataTables.bootstrap.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/custom.js"></script>
        {% endblock %}
            
    </body>
</html>