{% form_theme form 'form/form_errors.html.twig' %}
{% extends 'mainPage.html.twig' %}

{% block main %}
    
    <div class="col-md-8 col-md-offset-2">
        <h2>Patient bearbeiten</h2>        
        
        {{ form_start(form) }}
		{{ form_errors(form) }}
		
		<ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#menu1">Stammdaten</a></li>
		    <li><a data-toggle="tab" href="#menu2">Versicherungsdaten</a></li>
		    
		</ul>

		<div class="tab-content">

		    {{ include('patient/patientCreateMenu1.html.twig') }}
		    
		    {{ include('patient/patientCreateMenu2.html.twig') }}
		    
		</div>
			
		{{ form_end(form) }}
	</div>

{% endblock %}