<div id="menu2" class="tab-pane fade col_md_2">
	<p style="margin-top: 15px"></p>
  	
	<div class="form-group row">
		{{ form_errors(form.krankenversicherungsart) }}
		{{ form_label(form.krankenversicherungsart) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.krankenversicherungsart) }}
		</div>  
	</div> 

	<div class="form-group row">
		{{ form_errors(form.krankenkassennummer) }}
		{{ form_label(form.krankenkassennummer) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.krankenkassennummer) }}
		</div>  
	</div>      

	<div class="form-group row">
		{{ form_errors(form.krankenkasse) }}
		{{ form_label(form.krankenkasse) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.krankenkasse) }}
		</div>  
	</div> 

	<div class="form-group row">
		{{ form_errors(form.kassennameZurBedruckung) }}
		{{ form_label(form.kassennameZurBedruckung) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.kassennameZurBedruckung) }}
		</div>  
	</div>      

	<div class="form-group row">
		{{ form_errors(form.versichertennummer) }}
		{{ form_label(form.versichertennummer) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.versichertennummer) }}
		</div>  
	</div> 

	<div class="form-group row">
		{{ form_errors(form.egkVersichertenNr) }}
		{{ form_label(form.egkVersichertenNr) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.egkVersichertenNr) }}
		</div>  
	</div>      

	<div class="form-group row">
		{{ form_errors(form.kostentraegerabrechnungsbereich) }}
		{{ form_label(form.kostentraegerabrechnungsbereich) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.kostentraegerabrechnungsbereich) }}
		</div>  
	</div> 

	<div class="form-group row">
		{{ form_errors(form.kvBereich) }}
		{{ form_label(form.kvBereich) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.kvBereich) }}
		</div>  
	</div>      

	<div class="form-group row">
		{{ form_errors(form.abrechnungsvknr) }}
		{{ form_label(form.abrechnungsvknr) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.abrechnungsvknr) }}
		</div>  
	</div> 

	<div class="form-group row">
		{{ form_errors(form.sonstige) }}
		{{ form_label(form.sonstige) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.sonstige) }}
		</div>  
	</div>      

	<div class="form-group row">
		{{ form_errors(form.versichertenartmfr) }}
		{{ form_label(form.versichertenartmfr) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.versichertenartmfr) }}
		</div>  
	</div> 

	<div class="form-group row">
		{{ form_errors(form.versichertenstatuskvk) }}
		{{ form_label(form.versichertenstatuskvk) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.versichertenstatuskvk) }}
		</div>  
	</div>    

	<div class="form-group row">
		{{ form_errors(form.statusergaenzung) }}
		{{ form_label(form.statusergaenzung) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.statusergaenzung) }}
		</div>  
	</div>      

	<div id="dateTimePickerContainer" class="form-group row">
		{{ form_errors(form.validTill) }}
		{{ form_label(form.validTill) }}
		

		<div class="col-sm-8">
            <div class="input-group date">
    			{{ form_widget(form.validTill) }}
    			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>            
		</div>            
	</div>   

	<div class="form-group row">
		{{ form_errors(form.abrechnungsform) }}
		{{ form_label(form.abrechnungsform) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.abrechnungsform) }}
		</div>  
	</div>        

	<div class="form-group row">
		{{ form_errors(form.nachsorge) }}
		{{ form_label(form.nachsorge) }}
		
		<div class="col-sm-8">
			{{ form_widget(form.nachsorge) }}
		</div>  
	</div>        

</div>