{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="patients_li"><a href="{{ path('patientsPage') }}">Patienten</a></li>
                    <li id="med_checkups_li"><a href="{{ path('medCheckupsPage') }}">Untersuchungen</a></li>
                    <li id="arrangements_li"><a href="{{ path('arrangementsPage') }}">Kurse</a></li>
                    <li id="patient_arrangement_li"><a href="{{ path('patientArrangementPage') }}">Kursverlauf</a></li>
                    
                    {% if user.userGroup.name is defined and user.userGroup.name == ("root" or "admin") %}
                        <li><a href="">Änderungsprotokoll</a></li>
                        <li><a href="{{ path('usersPage') }}">Benutzer</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ user.firstName ~ " " ~ user.lastName }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/settings">Einstellungen</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>                
            </div><!--/.nav-collapse -->                                                
        </div>
    </nav>
</div>
<div id="main" class="container-fluid">
    
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">{{flash_message}}</div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">{{flash_message}}</div>
    {% endfor %}

    {% block main %}
    {% endblock %}

</div>
{% endblock %}
