{% extends 'mainPage.html.twig' %}

{% block main %}
	
    <div class="row">
		<div id="control_panel" class="col-md-2">
			<div class="btn-group-vertical">
			<a href="/{{ url }}/create" class="btn btn-default btn-block btn-success">{{ buttonLabel }} einfügen</a>
			<a id="edit_button" class="btn btn-default btn-block">{{ buttonLabel }} bearbeiten</a>
			<a id="modal_toggle_button" class="btn btn-default btn-block" data-toggle="modal">{{ buttonLabel }} entfernen</a>
			</div>
			
			
		</div>
		<div id="content" class="col-md-10">
			<h2 class="page-header">{{ pageHeader }}</h2>
		

			{% block table %}{% endblock %}
			{% include 'default/confirmDialog.html.twig' %}
				
	    </div>
	</div>

{% endblock %}
