{% form_theme form 'form/form_errors.html.twig' %}
{% extends 'mainPage.html.twig' %}

{% block main %}
    
    <div class="col-md-8 col-md-offset-2">
        <h2>Benutzer einfügen</h2>        
        
        {{ form_start(form) }}
		{{ form_errors(form) }}
		
			<div class="form-group row">
				{{ form_errors(form.firstName) }}
				{{ form_label(form.firstName) }}
				<div class="col-sm-10">
					{{ form_widget(form.firstName) }}
				</div>
			</div>

			<div class="form-group row">
				{{ form_errors(form.lastName) }}
				{{ form_label(form.lastName) }}

				<div class="col-sm-10">
					{{ form_widget(form.lastName) }}
				</div>  
			</div>

			<div class="form-group row">
				{{ form_errors(form.sex) }}
				{{ form_label(form.sex) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.sex) }}
				</div>  
			</div>

			<div class="form-group row">
				{{ form_errors(form.email) }}
				{{ form_label(form.email) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.email) }}
				</div>  
			</div>

			<div class="form-group row">
				{{ form_errors(form.phoneNumber) }}
				{{ form_label(form.phoneNumber) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.phoneNumber) }}
				</div>  	
			</div>
			
			<div class="form-group row">
				{{ form_errors(form.address) }}
				{{ form_label(form.address) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.address) }}
				</div>  	
			</div>

			<div class="form-group row">
				{{ form_errors(form.userGroup) }}
				{{ form_label(form.userGroup) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.userGroup) }}
				</div>  
			</div>

			<div class="form-group row">
				{{ form_errors(form.hospital) }}
				{{ form_label(form.hospital) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.hospital) }}
				</div>  
			</div>

			<div class="form-group row">
				{{ form_errors(form.password) }}
				{{ form_label(form.password) }}
				
				<div class="col-sm-10">
					{{ form_widget(form.password) }}
				</div>  
			</div>
			
		{{ form_end(form) }}
	</div>

{% endblock %}