<!-- Arrangements Table -->
<table id="arrangements_table" class="table table_main table-striped" style="width:100%">
	<thead>
        <tr>
        	<th>Id</th>
            <th>Name</th>
            <th>Kursleiter</th>
            <th>Datum</th>
            <th>Beschreibung</th>
            <th>Max. Teilnehmer</th>
        </tr>
    </thead>

    {% for a in arrangements %}
        <tr>
        	<td>{{ a.id }}</td>
            <td>{{ a.name }}</td>
            
            <td>
                {% if a.sysUser is not empty %}
                    {% if a.sysUser.firstName is not empty %}
                        {{ a.sysUser.firstName ~ " " }} 
                    {% endif %}
                    {% if a.sysUser.lastName is not empty %}
                        {{ a.sysUser.lastName }} 
                    {% endif %}
                {% endif %}

            </td>

            <td>{{ a.dateTime | date('d.m.Y') ~ ", um " ~ a.dateTime | date('H:i') }}</td>
            <td>{{ a.description }}</td>
            <td>{{ a.maxParticipants }}</td>
        </tr>
    {% endfor %}
</table>