{% form_theme form 'form/form_errors.html.twig' %}
{% extends 'mainPage.html.twig' %}

{% block main %}
    
    <div class="col-md-8 col-md-offset-2">
        <h2>Kurs einfügen</h2>        
        
            {{ form_start(form) }}
			{{ form_errors(form) }}
			
			<div class="form-group row">
				{{ form_errors(form.name) }}
				{{ form_label(form.name) }}
				<div class="col-sm-10">
					{{ form_widget(form.name) }}
				</div>
			</div>

			<div class="form-group row">
				{{ form_errors(form.sysUser) }}
				{{ form_label(form.sysUser) }}
				<div class="col-sm-10">
					{{ form_widget(form.sysUser) }}
				</div>
			</div>


			<div id="dateTimePickerContainer" class="form-group row">
				{{ form_errors(form.dateTime) }}
				{{ form_label(form.dateTime) }}
				<div class="col-sm-10">
	                <div class="input-group time">
	        			{{ form_widget(form.dateTime) }}
	        			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
            	</div>
			</div>

			<div class="form-group row">
				{{ form_errors(form.description) }}
				{{ form_label(form.description) }}
				<div class="col-sm-10">
					{{ form_widget(form.description) }}
				</div>
			</div>

			<div class="form-group row">
				{{ form_errors(form.maxParticipants) }}
				{{ form_label(form.maxParticipants) }}				
				<div class="col-sm-10">
					{{ form_widget(form.maxParticipants) }}
				</div>
			</div>
			
		{{ form_end(form) }}
	</div>

{% endblock %}