{% extends 'default/objectListPage.html.twig' %}

{% block table %}

	<table id="arrangements_table" class="table table_main table-striped table-bordered">
		<thead>
            <tr>
            	<th>Id</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Datum</th>
                <th>Max. Teilnehmer</th>
            </tr>
        </thead>

	    {% for a in arrangements %}
	        <tr>
	        	<td>{{ a.id }}</td>
	            <td>{{ a.name }}</td>
	            <td>{{ a.description }}</td>
	            <td>{{ a.dateTime | date('d.m.Y') ~ ", um " ~ a.dateTime | date('H:i') }}</td>
	            <td>{{ a.maxParticipants }}</td>
	        </tr>
	    {% endfor %}
    </table>
	    
{% endblock %}
